

<!DOCTYPE html>
<html>
<head>
    <title>نظام الأرشيف الالكتروني</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <link href="@Url.Content("~/Content/assets/plugins/pace/pace-theme-flash.css")" rel="stylesheet" type="text/css" media="screen" />
    <link href="@Url.Content("~/Content/assets/plugins/jquery-scrollbar/jquery.scrollbar.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/plugins/boostrapv3/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/plugins/boostrapv3/css/bootstrap-theme.min.css")" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/assets/plugins/font-awesome/css/font-awesome.css")
    <link href="@Url.Content("~/Content/assets/css/animate.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/css/rtl/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/css/rtl/responsive.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/css/custom-icon-set.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.2.607/kendo.rtl.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.2.607/kendo.common-bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.2.607/kendo.mobile.all.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.2.607/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.2.607/kendo.bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.2.607/kendo.dataviz.bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/kendo/2016.2.607/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2016.2.607/jszip.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2016.2.607/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2016.2.607/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.aspnetmvc.min.js")"></script>
    <script>
    kendo.culture("en-GB");
    </script>
</head>
<body class="rtl">

    <script src="@Url.Content("~/Scripts/cultures/kendo.culture.en-GB.min.js")"></script>
    <!-- BEGIN HEADER -->
    <div class="header navbar navbar-inverse">
        <!-- BEGIN TOP NAVIGATION BAR -->
        <div class="navbar-inner">
            <!-- BEGIN NAVIGATION HEADER -->
            <div class="header-seperation">
                <!-- BEGIN MOBILE HEADER -->
                <ul class="nav pull-left notifcation-center" id="main-menu-toggle-wrapper" style="display:none">
                    <li class="dropdown">
                        <a id="main-menu-toggle" href="#main-menu" class="">
                            <div class="iconset top-menu-toggle-white"></div>
                        </a>
                    </li>
                </ul>
                <!-- END MOBILE HEADER -->
                <!-- BEGIN LOGO -->
                <a href="#">
                    <img src="@Url.Content("~/Content/assets/img/logo.png")" class="logo" alt="" data-src="@Url.Content("~/Content/assets/img/logo.png")" data-src-retina="@Url.Content("~/Content/assets/img/logo2x.png")" width="106" height="21" />
                </a>
                <!-- END LOGO -->
                <!-- BEGIN LOGO NAV BUTTONS -->
                <ul class="nav pull-right notifcation-center">
                    <li class="dropdown" id="header_task_bar">
                        <a href="#" class="dropdown-toggle active" data-toggle="">
                            <div class="iconset top-home"></div>
                        </a>
                    </li>
                    <li class="dropdown" id="header_inbox_bar">
                        <a href="#" class="dropdown-toggle">
                            <div class="iconset top-messages"></div>
                            <span class="badge" id="msgs-badge">2</span>
                        </a>
                    </li>
                    <!-- BEGIN MOBILE CHAT TOGGLER -->
                    <li class="dropdown" id="portrait-chat-toggler" style="display:none">
                        <a href="#sidr" class="chat-menu-toggle">
                            <div class="iconset top-chat-white"></div>
                        </a>
                    </li>
                    <!-- END MOBILE CHAT TOGGLER -->
                </ul>
                <!-- END LOGO NAV BUTTONS -->
            </div>
            <!-- END NAVIGATION HEADER -->
            <!-- BEGIN CONTENT HEADER -->
            <div class="header-quick-nav">
                <!-- BEGIN HEADER LEFT SIDE SECTION -->
                <div class="pull-left">
                    <!-- BEGIN SLIM NAVIGATION TOGGLE -->
                    <ul class="nav quick-section">
                        <li class="quicklinks">
                            <a href="#" class="" id="layout-condensed-toggle">
                                <div class="iconset top-menu-toggle-dark"></div>
                            </a>
                        </li>
                    </ul>
                    <!-- END SLIM NAVIGATION TOGGLE -->
                    <!-- BEGIN HEADER QUICK LINKS -->
                    <ul class="nav quick-section">
                        <li class="quicklinks"><a href="#" class=""><div class="iconset top-reload"></div></a></li>
                        <li class="quicklinks"><span class="h-seperate"></span></li>
                        <li class="quicklinks"><a href="#" class=""><div class="iconset top-tiles"></div></a></li>
                        <!-- BEGIN SEARCH BOX -->
                        <li class="m-r-10 input-prepend inside search-form no-boarder">
                            <span class="add-on"><span class="iconset top-search"></span></span>
                            <input name="" type="text" class="no-boarder" placeholder="Search Dashboard" style="width:250px;">
                        </li>
                        <!-- END SEARCH BOX -->
                    </ul>
                    <!-- BEGIN HEADER QUICK LINKS -->
                </div>
                <!-- END HEADER LEFT SIDE SECTION -->
                <!-- BEGIN HEADER RIGHT SIDE SECTION -->
                <div class="pull-right">
                    <div class="chat-toggler">
                        <!-- BEGIN NOTIFICATION CENTER -->
                        <a href="#" class="dropdown-toggle" id="my-task-list" data-placement="bottom" data-content="" data-toggle="dropdown" data-original-title="Notifications">
                            <div class="user-details">
                                <div class="username">
                                    <span class="badge badge-important">3</span>&nbsp;@Session["UserName"] </span>
                                </div>
                            </div>
                            <div class="iconset top-down-arrow"></div>
                        </a>
                        <div id="notification-list" style="display:none">
                            <div style="width:300px">
                                <!-- BEGIN NOTIFICATION MESSAGE -->
                                <div class="notification-messages info">
                                    <div class="user-profile">
                                        <img src="@Url.Content("~/Content/assets/img/profiles/d.jpg")" alt="" data-src="@Url.Content("~/Content/assets/img/profiles/d.jpg")" data-src-retina="@Url.Content("~/Content/assets/img/profiles/d2x.jpg")" width="35" height="35">
                                    </div>
                                    <div class="message-wrapper">
                                        <div class="heading">Title of Notification</div>
                                        <div class="description">مرحبا بك</div>
                                        <div class="date pull-left">A min ago</div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <!-- END NOTIFICATION MESSAGE -->
                            </div>
                        </div>
                        <!-- END NOTIFICATION CENTER -->
                        <!-- BEGIN PROFILE PICTURE -->
                        <div class="profile-pic">
                            <img src="@Url.Content("~/Content/assets/img/profiles/avatar_small.jpg")" alt="" data-src="@Url.Content("~/Content/assets/img/profiles/avatar_small.jpg")" data-src-retina="@Url.Content("~/Content/assets/img/profiles/avatar_small2x.jpg")" width="35" height="35" />
                        </div>
                        <!-- END PROFILE PICTURE -->
                    </div>
                    <!-- BEGIN HEADER NAV BUTTONS -->
                    <ul class="nav quick-section">
                        <!-- BEGIN SETTINGS -->
                        <li class="quicklinks">
                            <a data-toggle="dropdown" class="dropdown-toggle pull-right" href="#" id="user-options">
                                <div class="iconset top-settings-dark"></div>
                            </a>
                            <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="user-options">
                                <li><a href="#">Normal Link</a></li>
                                <li><a href="#">Badge Link&nbsp;&nbsp;<span class="badge badge-important animated bounceIn">2</span></a></li>
                                <li class="divider"></li>
                                <li><a href="#"><i class="fa fa-power-off"></i>&nbsp;&nbsp;@Html.ActionLink("خروج", "LogOff", "Account")</a></li>
                            </ul>
                        </li>
                        <!-- END SETTINGS -->
                        <li class="quicklinks"><span class="h-seperate"></span></li>
                        <!-- BEGIN CHAT SIDEBAR TOGGLE -->
                        <!-- END CHAT SIDEBAR TOGGLE -->
                    </ul>
                    <!-- END HEADER NAV BUTTONS -->
                </div>
                <!-- END HEADER RIGHT SIDE SECTION -->
            </div>
            <!-- END CONTENT HEADER -->
        </div>
        <!-- END TOP NAVIGATION BAR -->
    </div>
    <!-- END HEADER -->
    <!-- BEGIN CONTENT -->
    <div class="page-container row-fluid">
        <!-- BEGIN SIDEBAR -->
        <!-- BEGIN MENU -->
        <div class="page-sidebar" id="main-menu">
            <div class="page-sidebar-wrapper scrollbar-dynamic" id="main-menu-wrapper">
                <!-- BEGIN MINI-PROFILE -->
                <div class="user-info-wrapper">
                    <div class="profile-wrapper">
                        <img src="@Url.Content("~/Content/assets/img/profiles/avatar.jpg")" alt="" data-src="@Url.Content("~/Content/assets/img/profiles/avatar.jpg")" data-src-retina="@Url.Content("~/Content/assets/img/profiles/avatar2x.jpg")" width="69" height="69" />

                    </div>
                    <div class="user-info">
                        <div class="greeting">Welcome</div>
                        <div class="username">@Session["UserName"] </div>
                        <div class="status">Status<a href="#"><div class="status-icon green"></div>Online</a></div>
                    </div>
                </div>
                <!-- END MINI-PROFILE -->
                <!-- BEGIN SIDEBAR MENU -->
                <p class="menu-title">القائمة<span class="pull-right"><a href="javascript:;"><i class="fa fa-refresh"></i></a></span></p>
                <ul>
                    <!-- BEGIN SELECTED LINK -->
                    <li class="start active">
                        <a href="@Url.Action("Index", "Home")" class="elements">
                            <i class="icon-custom-home"></i>
                            <span class="title">الرئيسية</span>

                        </a>
                    </li>
                    <!-- END SELECTED LINK -->
                    <!-- BEGIN BADGE LINK -->
                    <li class="">
                        <a href="@Url.Action("UserManegment", "Users")" class="elements">
                            <i class="fa fa-user"></i>
                            <span class="title">إدارة المستخدمين</span>
                        </a>
                    </li>

                    <li class="">
                        <a href="@Url.Action("situationManagement", "Situation")" class="elements">
                            <i class="fa fa-user"></i>
                            <span class="title">إدارة المستخدمين</span>
                        </a>
                    </li>

                    <li class="">
                        <a href="@Url.Action("MunicipalityManegment", "Municipality")" class="elements">
                            <i class="fa fa-user"></i>
                            <span class="title">إدارة البلديات</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="javascript:;">
                            <i class="icon-custom-ui"></i>
                            <span class="title">المشاريع</span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            <li><a href="@Url.Action("ProjectManagement", "Project")" class="elements"> إدارة المشاريع</a></li>
                            <li><a href="@Url.Action("UsersProject", "UsersProject")" class="elements">إدارة مستخدمين المشاريع</a></li>
                        </ul>
                    </li>

                    <li class="">
                        <a href="javascript:;">
                            <i class="icon-custom-ui"></i>
                            <span class="title">التصنيفات</span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            <li><a href="@Url.Action("Cities", "City")" class="elements"> ادارة المدن</a></li>
                            <li><a href="@Url.Action("Corporation", "Corporation")" class="elements">إدارة المؤسسات</a></li>
                            <li><a href="@Url.Action("ActivitiesCategory", "ActivitiesCategory")" class="elements">إدارة تصنيفات الأنشطة</a></li>
                            <li><a href="@Url.Action("PeopleCategory", "ActivityPeopleCategory")" class="elements">إدارة تصنيفات الأشخاص </a></li>
                        </ul>
                    </li>
                    <li class="">
                    <li class="">
                        <a href="@Url.Action("ProjectManagement", "Project")" class="elements">
                            <i class="fa fa-envelope"></i>
                            <span class="title">إدارة المشاريع</span>
                            <span class="badge badge-disable pull-right">203</span>
                        </a>
                    </li>

                    <li class="">
                        <a href="javascript:;">
                            <i class="icon-custom-ui"></i>
                            <span class="title">Link 4</span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            <li><a href="#">Sub Link 1</a></li>
                        </ul>
                    </li>
                    <!-- END ONE LEVEL MENU -->
                    <!-- BEGIN TWO LEVEL MENU -->
                    <li class="">
                        <a href="javascript:;"> <em class="fa fa-folder-open"></em> <span class="title">رابط 1</span> <span class="arrow"></span> </a>
                        <ul class="sub-menu">
                            <li><a href="javascript:;">Sub Link 1</a></li>
                            <li>
                                <a href="javascript:;"><span class="title">Sub Link 2</span><span class="arrow "></span></a>
                                <ul class="sub-menu">
                                    <li><a href="javascript:;">Sub Link 1</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <!-- END TWO LEVEL MENU -->
                </ul>
                <!-- END SIDEBAR MENU -->
                <!-- BEGIN SIDEBAR WIDGETS -->
                <div class="side-bar-widgets">
                    <!-- BEGIN FOLDER WIDGET -->
                    <p class="menu-title">FOLDER<span class="pull-right"><a href="#" class="create-folder"><i class="icon-plus"></i></a></span></p>
                    <ul class="folders">
                        <li><a href="#"><div class="status-icon green"></div>Task 1</a></li>
                        <!-- BEGIN HIDDEN INPUT BOX (FOR ADD FOLDER LINK) -->
                        <li class="folder-input" style="display:none">
                            <input type="text" placeholder="Name of folder" class="no-boarder folder-name" name="" id="folder-name">
                        </li>
                        <!-- END HIDDEN INPUT BOX (FOR ADD FOLDER LINK) -->
                    </ul>
                    <!-- END FOLDER WIDGET -->
                    <!-- BEGIN PROJECTS WIDGET -->
                    <!-- BEGIN EXAMPLE 1 -->
                    <!-- END EXAMPLE 1 -->
                    <!-- END PROJECTS WIDGET -->
                </div>
                <div class="clearfix"></div>
                <!-- END SIDEBAR WIDGETS -->
            </div>
        </div>
        <!-- BEGIN SCROLL UP HOVER -->
        <a href="#" class="scrollup">Scroll</a>
        <!-- END SCROLL UP HOVER -->
        <!-- END MENU -->
        <!-- BEGIN SIDEBAR FOOTER WIDGET -->
        <div class="footer-widget">

            <div class="pull-right">

                <a href="#"><i class="fa fa-power-off"></i></a>
            </div>
        </div>
        <!-- END SIDEBAR FOOTER WIDGET -->
        <!-- END SIDEBAR -->
        <!-- BEGIN PAGE CONTAINER-->
        <div class="page-content">
            <div class="content">
                <!-- BEGIN PAGE TITLE -->


                <div class="k-rtl">
                    @RenderSection("featured", required: false)
                    <section class="content-wrapper main-content clear-fix">
                        @RenderBody()
                    </section>



                </div>

                <!-- END PAGE TITLE -->
                <!-- BEGIN PlACE PAGE CONTENT HERE -->
                <!-- END PLACE PAGE CONTENT HERE -->
            </div>
        </div>
        <!-- END PAGE CONTAINER -->
        <!-- BEGIN CHAT -->
        <!-- END CHAT -->
    </div>
    <!-- END CONTENT -->
    <!-- BEGIN CORE JS FRAMEWORK-->
    <script src="@Url.Content("~/Content/assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/plugins/boostrapv3/js/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/plugins/breakpoints.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/plugins/jquery-unveil/jquery.unveil.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/plugins/jquery-block-ui/jqueryblockui.js")" type="text/javascript"></script>
    <!-- END CORE JS FRAMEWORK -->
    <!-- BEGIN PAGE LEVEL JS -->
    <script src="@Url.Content("~/Content/assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/plugins/pace/pace.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/plugins/jquery-numberAnimate/jquery.animateNumbers.js")" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN CORE TEMPLATE JS -->
    <script src="@Url.Content("~/Content/assets/js/core.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/js/chat.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/js/demo.js")" type="text/javascript"></script>
    <!-- END CORE TEMPLATE JS -->
    <!-- END NEED TO WORK ON -->
</body>
</html>