@using SituationMonitoring.Models
@model SituationMonitoring.Models.QuerisViewModel


@{
    ViewBag.Title = "SituationMonitoringReport";
    Layout = "~/Views/Shared/_LayoutQuestionnaire.cshtml";
}





<div class="row">
    <div class="col-md-12">
        <div class="grid simple ">
            <div class="grid-title no-border">
                <div class="page-title">
                    <i class="icon-custom-left"></i>
                    <h3>التقرير - <span class="semi-bold">الشامل</span></h3>
                </div>
            </div>
            <div class="grid-body no-border">
                <table class="table table-bordered no-more-tables">

                    <tbody>
                        <tr>
                            <td width="10%" class="alert alert-info"><h4 style="color:red">االتاريخ</h4></td>
                            <td width="10%"><h4>@ViewBag.Date</h4></td>

                        </tr>

                        <tr>
                            <th colspan=8><h4 style="color:cornflowerblue"> الشخصيات الرئيسية للمقابلة  </h4></th>
                        </tr>
                        <tr>
                            <td width="20%" class="alert alert-success"><h5>عدد مزودي المعلومات الذين تم مقابلتهم</h5></td>
                            <td width="10%"class="alert alert-warning"><h4 style="color:red">@ViewBag.SumQuestionnaire</h4></td>

                        </tr>

                        <tr>
                            <td colspan=2 class="alert alert-success"><h5>عدد الذكور</h5></td>
                            <td colspan=2 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetSum_Male</h4></td>
                            <td colspan=2 class="alert alert-success"> <h5>عدد الاناث</h5></td>
                            <td colspan=2 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetSum_Femal</h4></td>
                        </tr>

                        <tr>
                            <th colspan=8><h4 style="color:cornflowerblue">  معلومات الموقع</h4></th>
                        </tr>
                        <tr>
                            <td colspan=1 class="alert alert-success"><h5> المحافظة</h5></td>
                            <td colspan=1 class="alert alert-warning" style="color:blue">@ViewBag.GovernorateArName</td>
                            <td colspan=1 class="alert alert-success"><h5> البلدية</h5></td>
                            <td colspan=1 class="alert alert-warning" style="color:blue">@ViewBag.MunicipalityArName</td>
                            <td colspan=1 class="alert alert-success"> <h5>المنطقة</h5></td>
                            <td colspan=1 class="alert alert-warning" style="color:blue">@ViewBag.AreaArName</td>
                            <td colspan=1 class="alert alert-success"> <h5>اسم مركز الايواء</h5></td>
                            <td colspan=1 class="alert alert-warning" style="color:blue">@ViewBag.CollectiveCenter</td>
                        </tr>

                        <tr>
                            <td colspan=2 class="alert alert-success"><h5>العدد التقديري الاجمالي للاشخاص</h5></td>
                            <td colspan=2 class="alert alert-success">العدد التقديري الاجمالي للأسر</td>
                            <td colspan=4 class="alert alert-success" > <h5>وصف الموقع</h5></td>
                        </tr>
                        <tr>
                            <td colspan=2 class="alert alert-warning" ><h4 style="color:red">@ViewBag.GetSum_Estimated_Number_Of_Individuals</h4></td>
                            <td colspan=2 class="alert alert-warning"><h4  style="color:red">@ViewBag.GetSum_Estimated_Number_Of_Families</h4></td>
                            <td colspan=4 class="alert alert-warning" > <h5 style="color:blue"> @ViewBag.Site_Description</h5></td>
                        </tr>

                        <tr>
                            <th colspan=8><h4 style="color:cornflowerblue"> 1. مخاوف حماية عامة خارج مركز الإيواء الجماعي</h4></th>
                        </tr>

                        <tr>
                            <td colspan=8 class="alert alert-info"><h5>1.1 هل أنت على علم بأي مجموعات أسرية تعيش مع عائلات مضيفة؟</h5></td>
                        </tr>

                        <tr>
                            <td width="10%" class="alert alert-success"><h5>نعم</h5></td>
                            <td width="10%" class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question1_1Yes %</h4></td>
                            <td width="10%" class="alert alert-success"><h5>لا</h5></td>
                            <td width="10%" class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question1_1No %</h4></td>
                            <td width="10%" class="alert alert-success"><h5>غير متأكد</h5></td>
                            <td width="10%" class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question1_1Dontknow%</h4></td>


                        </tr>
                        <tr>
                            <td colspan=8 class="alert alert-info"><h5>1.1.1 إذا كانت الإجابة بنعم، ما هو عدد المجموعات الأسرية التي تقيم مع عائلات مضيفة؟</h5></td>
                        </tr>

                        <tr>
                            <td width="10%" class="alert alert-success"><h5>اقل من 10</h5></td>
                            <td width="10%" class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question1_1_1Less10 %</h4></td>
                            <td width="10%" class="alert alert-success"><h5>10 – 50 من</h5></td>
                            <td width="10%" class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question1_1_1_10_50 %</h4></td>
                            <td width="10%" class="alert alert-success"><h5>50 – 100 من</h5></td>
                            <td width="10%" class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question1_1_1_10_100 %</h4></td>
                            <td width="10%" class="alert alert-success"><h5>أكثر من 100</h5></td>
                            <td width="10%" class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question1_1_1Over100 %</h4></td>

                        </tr>
                        <tr>
                            <td colspan=8 class="alert alert-info"><h5>1.2 ما هي المخاوف الرئيسية لهذه العائلات</h5></td>
                        </tr>
                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>1.2.1</h5></td>

                            <td colspan=3 class="alert alert-success"><h5>خلافات عائلية</h5></td>
                            <td colspan=2 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question1_2_1_Family_CommunityDisputes % </h4></td>
                            <td class="v-align-middle" colspan=2>
                                <div class="progress">
                                    <div data-percentage="@ViewBag.GetPer_Question1_2_1_Family_CommunityDisputes%" class="progress-bar progress-bar-info animate-progress-bar"></div>
                                </div>
                            </td>

                        </tr>

                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>1.2.2</h5></td>

                            <td colspan=3 class="alert alert-success"><h5>غذاء غير كافي</h5></td>
                            <td colspan=2 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question1_2_2 % </h4></td>
                            <td class="v-align-middle" colspan=3>
                                <div class="progress">
                                    <div data-percentage="@ViewBag.GetPer_Question1_2_2%" class="progress-bar progress-bar-info animate-progress-bar"></div>
                                </div>
                            </td>

                        </tr>

                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>1.2.3</h5></td>

                            <td colspan=3 class="alert alert-success"><h5>خصوصية غير كافية</h5></td>
                            <td colspan=2 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question1_2_3% </h4></td>
                            <td class="v-align-middle" colspan=3>
                                <div class="progress">
                                    <div data-percentage="@ViewBag.GetPer_Question1_2_3%" class="progress-bar progress-bar-info animate-progress-bar"></div>
                                </div>
                            </td>

                        </tr>

                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>1.2.4</h5></td>

                            <td colspan=3 class="alert alert-success"><h5>مياه شرب غير كافية</h5></td>
                            <td colspan=2 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question1_2_4% </h4></td>
                            <td class="v-align-middle" colspan=3>
                                <div class="progress">
                                    <div data-percentage="@ViewBag.GetPer_Question1_2_4%" class="progress-bar progress-bar-info animate-progress-bar"></div>
                                </div>
                            </td>

                        </tr>


                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>1.2.5</h5></td>

                            <td colspan=3 class="alert alert-success"><h5>سكن غير آمن</h5></td>
                            <td colspan=2 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question1_2_5% </h4></td>
                            <td class="v-align-middle" colspan=3>
                                <div class="progress">
                                    <div data-percentage="@ViewBag.GetPer_Question1_2_5%" class="progress-bar progress-bar-info animate-progress-bar"></div>
                                </div>
                            </td>

                        </tr>

                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>1.2.6</h5></td>

                            <td colspan=3 class="alert alert-success"><h5>ازدحام</h5></td>
                            <td colspan=2 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question1_2_6% </h4></td>
                            <td class="v-align-middle" colspan=2>
                               
                                    <div class="progress">

                                        <div data-percentage="@ViewBag.GetPer_Question1_2_6%" class="progress-bar progress-bar-info animate-progress-bar"></div>
                              </div>


</td>

                        </tr>


                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>1.2.7</h5></td>

                            <td colspan=3 class="alert alert-success"><h5>فراش غير كافي</h5></td>
                            <td colspan=2 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question1_2_7% </h4></td>
                            <td class="v-align-middle" colspan=3>
                                <div class="progress">
                                    <div data-percentage="@ViewBag.GetPer_Question1_2_7%" class="progress-bar progress-bar-info animate-progress-bar"></div>
                                </div>
                            </td>

                        </tr>

                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>1.2.8</h5></td>

                            <td colspan=3 class="alert alert-success"><h5>مياه قليلة (غير مياه الشرب)</h5></td>
                            <td colspan=2 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question1_2_8%</h4></td>
                            <td class="v-align-middle" colspan=3>
                                <div class="progress">
                                    <div data-percentage="@ViewBag.GetPer_Question1_2_8%" class="progress-bar progress-bar-info animate-progress-bar"></div>
                                </div>
                            </td>

                        </tr>

                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>1.2.9</h5></td>

                            <td colspan=3 class="alert alert-success"><h5>المساعدة الإنسانية غير كافية للأشخاص المحتاجين </h5></td>
                            <td colspan=2 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question1_2_9% </h4></td>
                            <td class="v-align-middle" colspan=3>
                                <div class="progress">
                                    <div data-percentage="@ViewBag.GetPer_Question1_2_9%" class="progress-bar progress-bar-info animate-progress-bar"></div>
                                </div>
                            </td>


                            </tr>
                        <tr>
                            <td colspan=3><h5> حدد نوع المساعدة:</h5></td>
                            <td colspan=5><h5> </h5></td>

                        </tr>





                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>1.2.10</h5></td>

                            <td colspan=3 class="alert alert-success"><h5>عدم القدرة على الوصول إلى الخدمات الأساسية </h5></td>
                            <td colspan=2 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question1_2_10% </h4></td>
                            <td class="v-align-middle" colspan=3>
                                <div class="progress">
                                    <div data-percentage="@ViewBag.GetPer_Question1_2_10%" class="progress-bar progress-bar-info animate-progress-bar"></div>
                                </div>
                            </td>
                            </tr>

                        <tr>

                            <td colspan=3><h5> حدد نوع الخدمات:</h5></td>
                            <td colspan=5><h5> </h5></td>

                        </tr>

                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>1.2.11</h5></td>

                            <td colspan=3 class="alert alert-success"><h5>غير ذلك  </h5></td>
                            <td colspan=2 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question1_2_11% </h4></td>
                            <td class="v-align-middle" colspan=3>
                                <div class="progress">
                                    <div data-percentage="@ViewBag.GetPer_Question1_2_11%" class="progress-bar progress-bar-info animate-progress-bar"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>

                            <td colspan=3><h5> أذكرها:</h5></td>
                            <td colspan=5><h5> </h5></td>

                        </tr>

                        <tr>
                            <td colspan=8 class="alert alert-info"><h5>1.3 ما هي المخاوف الرئيسية للأشخاص الآخرين في مجتمعك؟ بخلاف الناس الذين يقيمون مع اسر مضيفة؟</h5></td>
                        </tr>
                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>1.3.1</h5></td>

                            <td colspan=3 class="alert alert-success"><h5>خلافات عائلية</h5></td>
                            <td colspan=2 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question1_3_1% </h4></td>
                            <td class="v-align-middle" colspan=2>
                                <div class="progress">
                                    <div data-percentage="@ViewBag.GetPer_Question1_3_1%" class="progress-bar progress-bar-info animate-progress-bar"></div>
                                </div>
                            </td>

                        </tr>

                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>1.3.2</h5></td>

                            <td colspan=3 class="alert alert-success"><h5>غذاء غير كافي</h5></td>
                            <td colspan=2 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question1_3_2% </h4></td>
                            <td class="v-align-middle" colspan=3>
                                <div class="progress">
                                    <div data-percentage="@ViewBag.GetPer_Question1_3_2%" class="progress-bar progress-bar-info animate-progress-bar"></div>
                                </div>
                            </td>

                        </tr>

                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>1.3.3</h5></td>

                            <td colspan=3 class="alert alert-success"><h5>خصوصية غير كافية</h5></td>
                            <td colspan=2 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question1_3_3% </h4></td>
                            <td class="v-align-middle" colspan=3>
                                <div class="progress">
                                    <div data-percentage="@ViewBag.GetPer_Question1_3_3%" class="progress-bar progress-bar-info animate-progress-bar"></div>
                                </div>
                            </td>

                        </tr>

                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>1.3.4</h5></td>

                            <td colspan=3 class="alert alert-success"><h5>ماء شرب غير كافي</h5></td>
                            <td colspan=2 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question1_3_4% </h4></td>
                            <td class="v-align-middle" colspan=3>
                                <div class="progress">
                                    <div data-percentage="@ViewBag.GetPer_Question1_3_4%" class="progress-bar progress-bar-info animate-progress-bar"></div>
                                </div>
                            </td>

                        </tr>

                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>1.3.5</h5></td>

                            <td colspan=3 class="alert alert-success"><h5>سكن غير آمن</h5></td>
                            <td colspan=2 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question1_3_5% </h4></td>
                            <td class="v-align-middle" colspan=3>
                                <div class="progress">
                                    <div data-percentage="@ViewBag.GetPer_Question1_3_5%" class="progress-bar progress-bar-info animate-progress-bar"></div>
                                </div>
                            </td>
                            </tr>
                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>1.3.6</h5></td>

                            <td colspan=3 class="alert alert-success"><h5>إزدحام</h5></td>
                            <td colspan=2 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question1_3_6% </h4></td>
                            <td class="v-align-middle" colspan=3>
                                <div class="progress">
                                    <div data-percentage="@ViewBag.GetPer_Question1_3_6%" class="progress-bar progress-bar-info animate-progress-bar"></div>
                                </div>
                            </td>

                        </tr>

                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>1.3.7</h5></td>

                            <td colspan=3 class="alert alert-success"><h5>فراش غير كافي</h5></td>
                            <td colspan=2 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question1_3_7% </h4></td>
                            <td class="v-align-middle" colspan=3>
                                <div class="progress">
                                    <div data-percentage="@ViewBag.GetPer_Question1_3_7%" class="progress-bar progress-bar-info animate-progress-bar"></div>
                                </div>
                            </td>

                        </tr>

                       

                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>1.3.8</h5></td>

                            <td colspan=3 class="alert alert-success"><h5>لا يوجد ماء كافي (غير ماء الشرب)</h5></td>
                            <td colspan=2 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question1_3_8% </h4></td>
                            <td class="v-align-middle" colspan=3>
                                <div class="progress">
                                    <div data-percentage="@ViewBag.GetPer_Question1_3_8%" class="progress-bar progress-bar-info animate-progress-bar"></div>
                                </div>
                            </td>

                        </tr>

                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>1.3.9</h5></td>

                            <td colspan=3 class="alert alert-success"><h5>لا يوجد مساعدة إغاثية لجميع المحتاجين</h5></td>
                            <td colspan=2 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question1_3_9% </h4></td>
                            <td class="v-align-middle" colspan=3>
                                <div class="progress">
                                    <div data-percentage="@ViewBag.GetPer_Question1_3_9% " class="progress-bar progress-bar-info animate-progress-bar"></div>
                                </div>
                            </td>
                            </tr>
                        <tr>

                            <td colspan=3><h5> اذكر أي المساعدات الإغاثية ناقصة:</h5></td>
                            <td colspan=5><h5> </h5></td>

                        </tr>

                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>1.3.10</h5></td>

                            <td colspan=3 class="alert alert-success"><h5>عدم القدرة على الوصول إلى الخدمات الأساسية </h5></td>
                            <td colspan=2 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question1_3_10%  </h4></td>
                            <td class="v-align-middle" colspan=3>
                                <div class="progress">
                                    <div data-percentage="@ViewBag.GetPer_Question1_3_10% " class="progress-bar progress-bar-info animate-progress-bar"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>

                            <td colspan=3><h5> حدد نوع الخدمات:</h5></td>
                            <td colspan=5><h5> </h5></td>

                        </tr>

                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>1.3.11</h5></td>

                            <td colspan=3 class="alert alert-success"><h5>غير ذلك  </h5></td>
                            <td colspan=2 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question1_3_11%  </h4></td>
                            <td class="v-align-middle" colspan=3>
                                <div class="progress">
                                    <div data-percentage="@ViewBag.GetPer_Question1_3_11%" class="progress-bar progress-bar-info animate-progress-bar"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>

                            <td colspan=3><h5> أذكرها:</h5></td>
                            <td colspan=5><h5> </h5></td>

                        </tr>

                        <tr>
                            <td colspan=8 class="alert alert-info"><h5>1.4	هل يعرف الناس في منطقتك أين يمكن التماس المساعدة و/أو المعلومات؟</h5></td>
                        </tr>

                        <tr>
                            <td width="10%" class="alert alert-success"><h5>نعم</h5></td>
                            <td width="10%" class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question1_4Yes%</h4></td>
                            <td width="10%" class="alert alert-success"><h5>لا</h5></td>
                            <td width="10%" class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question1_4No%</h4></td>
                            <td width="10%" class="alert alert-success"><h5>غير متأكد</h5></td>
                            <td width="10%" class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question1_4Dontknow%</h4></td>


                        </tr>

                        <tr>

                            <td colspan=3><h5>1.4.1 إذا كان الجواب نعم، حيث يلتمس الناس المساعدة و/أو المعلومات؟</h5></td>
                            <td colspan=5><h5> </h5></td>

                        </tr>

                        <tr>
                            <th colspan=8><h4 style="color:cornflowerblue"> 2. مخاوف حماية عامة داخل مركز الإيواء الجماعي</h4></th>
                        </tr>
                        <tr>
                            <td colspan=8 class="alert alert-info"><h5>2.1 حسب علمك، ما هي اهتمامات الحماية الرئيسية داخل مراكز الإيواء؟</h5></td>
                        </tr>
                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>2.1.1</h5></td>

                            <td colspan=3 class="alert alert-success"><h5>خلافات عائلية</h5></td>
                            <td colspan=2 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question2_1_1% </h4></td>
                            <td class="v-align-middle" colspan=2>
                                <div class="progress">
                                    <div data-percentage="@ViewBag.GetPer_Question2_1_1%" class="progress-bar progress-bar-info animate-progress-bar"></div>
                                </div>
                            </td>

                        </tr>

                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>2.1.2</h5></td>

                            <td colspan=3 class="alert alert-success"><h5>غذاء غير كافي</h5></td>
                            <td colspan=2 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question2_1_2%  </h4></td>
                            <td class="v-align-middle" colspan=3>
                                <div class="progress">
                                    <div data-percentage="@ViewBag.GetPer_Question2_1_2% " class="progress-bar progress-bar-info animate-progress-bar"></div>
                                </div>
                            </td>

                        </tr>

                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>2.1.3</h5></td>

                            <td colspan=3 class="alert alert-success"><h5>خصوصية غير كافية في المراحيض ومرافق الاستحمام </h5></td>
                            <td colspan=2 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question2_1_3% </h4></td>
                            <td class="v-align-middle" colspan=3>
                                <div class="progress">
                                    <div data-percentage="@ViewBag.GetPer_Question2_1_3%" class="progress-bar progress-bar-info animate-progress-bar"></div>
                                </div>
                            </td>

                        </tr>

                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>2.1.4</h5></td>

                            <td colspan=3 class="alert alert-success"><h5>خصوصية غير كافية في مركز الإيواء الجماعي </h5></td>
                            <td colspan=2 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question2_1_4% </h4></td>
                            <td class="v-align-middle" colspan=3>
                                <div class="progress">
                                    <div data-percentage="@ViewBag.GetPer_Question2_1_4%" class="progress-bar progress-bar-info animate-progress-bar"></div>
                                </div>
                            </td>

                        </tr>

                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>2.1.5</h5></td>

                            <td colspan=3 class="alert alert-success"><h5>ماء شرب غير كافي </h5></td>
                            <td colspan=2 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question2_1_5% </h4></td>
                            <td class="v-align-middle" colspan=3>
                                <div class="progress">
                                    <div data-percentage="@ViewBag.GetPer_Question2_1_5%" class="progress-bar progress-bar-info animate-progress-bar"></div>
                                </div>
                            </td>

                        </tr>

                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>2.1.6</h5></td>

                            <td colspan=3 class="alert alert-success"><h5>سكن غير آمن</h5></td>
                            <td colspan=2 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question2_1_6% </h4></td>
                            <td class="v-align-middle" colspan=2>
                                <div class="progress">
                                    <div data-percentage="@ViewBag.GetPer_Question2_1_6%" class="progress-bar progress-bar-info animate-progress-bar"></div>
                                </div>
                            </td>

                        </tr>


                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>2.1.7</h5></td>

                            <td colspan=3 class="alert alert-success"><h5>إزدحام</h5></td>
                            <td colspan=2 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question2_1_7% </h4></td>
                            <td class="v-align-middle" colspan=3>
                                <div class="progress">
                                    <div data-percentage="@ViewBag.GetPer_Question2_1_7%" class="progress-bar progress-bar-info animate-progress-bar"></div>
                                </div>
                            </td>

                        </tr>

                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>2.1.8</h5></td>

                            <td colspan=3 class="alert alert-success"><h5>فراش غير كافي</h5></td>
                            <td colspan=2 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question2_1_8% </h4></td>
                            <td class="v-align-middle" colspan=3>
                                <div class="progress">
                                    <div data-percentage="@ViewBag.GetPer_Question2_1_8%" class="progress-bar progress-bar-info animate-progress-bar"></div>
                                </div>
                            </td>

                        </tr>


                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>2.1.9</h5></td>

                            <td colspan=3 class="alert alert-success"><h5>لا يوجد ماء كافي (غير ماء الشرب) </h5></td>
                            <td colspan=2 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question2_1_9% </h4></td>
                            <td class="v-align-middle" colspan=3>
                                <div class="progress">
                                    <div data-percentage="@ViewBag.GetPer_Question2_1_9%" class="progress-bar progress-bar-info animate-progress-bar"></div>
                                </div>
                            </td>

                        </tr>

                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>2.1.10</h5></td>

                            <td colspan=3 class="alert alert-success"><h5>لا يوجد مساعدة إغاثية لجميع المحتاجين</h5></td>
                            <td colspan=2 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question2_1_10% </h4></td>
                            <td class="v-align-middle" colspan=3>
                                <div class="progress">
                                    <div data-percentage="@ViewBag.GetPer_Question2_1_10%" class="progress-bar progress-bar-info animate-progress-bar"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>

                            <td colspan=3><h5>اذكر أي المساعدات الإغاثية ناقصة:</h5></td>
                            <td colspan=5><h5> </h5></td>

                        </tr>

                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>2.1.11</h5></td>

                            <td colspan=3 class="alert alert-success"><h5>لا إمكانية وصول إلى الخدمات الضرورية  </h5></td>
                            <td colspan=2 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question2_1_11%</h4></td>
                            <td class="v-align-middle" colspan=3>
                                <div class="progress">
                                    <div data-percentage="@ViewBag.GetPer_Question2_1_11%" class="progress-bar progress-bar-info animate-progress-bar"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>

                            <td colspan=3><h5> أذكر الخدمات</h5></td>
                            <td colspan=5><h5> </h5></td>

                        </tr>

                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>2.1.12</h5></td>

                            <td colspan=3 class="alert alert-success"><h5>توزيع المساعدات يستثني الأسر التي يعيلها الأطفال </h5></td>
                            <td colspan=2 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question2_1_12% </h4></td>
                            <td class="v-align-middle" colspan=3>
                                <div class="progress">
                                    <div data-percentage="@ViewBag.GetPer_Question2_1_12%" class="progress-bar progress-bar-info animate-progress-bar"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>2.1.13</h5></td>

                            <td colspan=3 class="alert alert-success"><h5>توزيع المساعدات يستثني الأسر التي تعيلها النساء </h5></td>
                            <td colspan=2 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question2_1_13% </h4></td>
                            <td class="v-align-middle" colspan=3>
                                <div class="progress">
                                    <div data-percentage="@ViewBag.GetPer_Question2_1_13%" class="progress-bar progress-bar-info animate-progress-bar"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>2.1.14</h5></td>

                            <td colspan=3 class="alert alert-success"><h5>نقص الأماكن الآمنة لجمع النساء والفتيات معاً </h5></td>
                            <td colspan=2 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question2_1_14% </h4></td>
                            <td class="v-align-middle" colspan=3>
                                <div class="progress">
                                    <div data-percentage="@ViewBag.GetPer_Question2_1_14%" class="progress-bar progress-bar-info animate-progress-bar"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>2.1.15</h5></td>

                            <td colspan=3 class="alert alert-success"><h5>عدم وجود مساحات آمنة للعب الأطفال </h5></td>
                            <td colspan=2 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question2_1_15% </h4></td>
                            <td class="v-align-middle" colspan=3>
                                <div class="progress">
                                    <div data-percentage="@ViewBag.GetPer_Question2_1_15%" class="progress-bar progress-bar-info animate-progress-bar"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>2.1.16</h5></td>

                            <td colspan=3 class="alert alert-success"><h5>عدم وجود إضاءة آمنة للحمامات  </h5></td>
                            <td colspan=2 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question2_1_16% </h4></td>
                            <td class="v-align-middle" colspan=3>
                                <div class="progress">
                                    <div data-percentage="@ViewBag.GetPer_Question2_1_16%" class="progress-bar progress-bar-info animate-progress-bar"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>2.1.17</h5></td>

                            <td colspan=3 class="alert alert-success"><h5>عدم وجود حمامات منفصلة للجنسين</h5></td>
                            <td colspan=2 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question2_1_17%</h4></td>
                            <td class="v-align-middle" colspan=3>
                                <div class="progress">
                                    <div data-percentage="@ViewBag.GetPer_Question2_1_17%" class="progress-bar progress-bar-info animate-progress-bar"></div>
                                </div>
                            </td>
                            </tr>
                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>2.1.18</h5></td>

                            <td colspan=3 class="alert alert-success"><h5>عدم وجود مرافق استحمام منفصلة للجنسين </h5></td>
                            <td colspan=2 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question2_1_18% </h4></td>
                            <td class="v-align-middle" colspan=3>
                                <div class="progress">
                                    <div data-percentage="@ViewBag.GetPer_Question2_1_18%" class="progress-bar progress-bar-info animate-progress-bar"></div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>2.1.19</h5></td>

                            <td colspan=3 class="alert alert-success"><h5>عدم وجود حمامات يمكن الوصول إليها </h5></td>
                            <td colspan=2 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question2_1_19% </h4></td>
                            <td class="v-align-middle" colspan=3>
                                <div class="progress">
                                    <div data-percentage="@ViewBag.GetPer_Question2_1_19%" class="progress-bar progress-bar-info animate-progress-bar"></div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>2.1.20</h5></td>

                            <td colspan=3 class="alert alert-success"><h5>توزيع المساعدة يستثنى الأشخاص ذوي الإعاقة وأسرهم </h5></td>
                            <td colspan=2 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question2_1_20% </h4></td>
                            <td class="v-align-middle" colspan=3>
                                <div class="progress">
                                    <div data-percentage="@ViewBag.GetPer_Question2_1_20%" class="progress-bar progress-bar-info animate-progress-bar"></div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>2.1.21</h5></td>

                            <td colspan=3 class="alert alert-success"><h5>عدم وجود أجهزة مساعدة </h5></td>
                            <td colspan=2 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question2_1_21% </h4></td>
                            <td class="v-align-middle" colspan=3>
                                <div class="progress">
                                    <div data-percentage="@ViewBag.GetPer_Question2_1_21%" class="progress-bar progress-bar-info animate-progress-bar"></div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>2.1.22</h5></td>

                            <td colspan=3 class="alert alert-success"><h5> قلق على أفراد مفقودين </h5></td>
                            <td colspan=2 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question2_1_22% </h4></td>
                            <td class="v-align-middle" colspan=3>
                                <div class="progress">
                                    <div data-percentage="@ViewBag.GetPer_Question2_1_22%" class="progress-bar progress-bar-info animate-progress-bar"></div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>2.1.23</h5></td>

                            <td colspan=3 class="alert alert-success"><h5>غير ذلك  </h5></td>
                            <td colspan=2 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question2_1_23% </h4></td>
                            <td class="v-align-middle" colspan=3>
                                <div class="progress">
                                    <div data-percentage="@ViewBag.GetPer_Question2_1_23%" class="progress-bar progress-bar-info animate-progress-bar"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>

                            <td colspan=3><h5> أذكرها</h5></td>
                            <td colspan=5><h5> </h5></td>

                        </tr>

                        <tr>
                            <td colspan=8 class="alert alert-info"><h5>2.2 هل يشعر الناس بعدم الأمان داخل مركز الإيواءالجماعي؟</h5></td>
                        </tr>

                        <tr>
                            <td width="10%" class="alert alert-success"><h5>نعم</h5></td>
                            <td width="10%" class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question2_2Yes%</h4></td>
                            <td width="10%" class="alert alert-success"><h5>لا</h5></td>
                            <td width="10%" class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question2_2No%</h4></td>
                            <td width="10%" class="alert alert-success"><h5>غير متأكد</h5></td>
                            <td width="10%" class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question2_2Dontknow%</h4></td>


                        </tr>

                        <tr>

                            <td colspan=8><h5> 2.2.1 إذا كانت الإجابة بنعم، بأي طريقة (فسّر)؟</h5></td>

                        </tr>
                        <tr>

                            <td colspan=8></td>

                        </tr>

                        <tr>
                            <td colspan=8 class="alert alert-info"><h5>2.3 هل يعرف الناس داخل مراكز الإيواء كيفية الوصول إلى المساعدة و/أو المعلومات؟</h5></td>
                        </tr>

                        <tr>
                            <td width="10%" class="alert alert-success"><h5>نعم</h5></td>
                            <td width="10%" class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question2_3Yes%</h4></td>
                            <td width="10%" class="alert alert-success"><h5>لا</h5></td>
                            <td width="10%" class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question2_3No%</h4></td>
                            <td width="10%" class="alert alert-success"><h5>غير متأكد</h5></td>
                            <td width="10%" class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question2_3Dontknow%</h4></td>


                        </tr>

                        <tr>

                            <td colspan=8><h5> 2.3.1 إذا كانت الإجابة بنعم، أين يطلب الناس المساعدة و/أو المعلومات؟</h5></td>

                        </tr>
                        <tr>

                            <td colspan=8></td>

                        </tr>

                        <tr>
                            <th colspan=8><h4 style="color:cornflowerblue"> 3. اهتمامات الحماية المحددة خارج والتي تم تحديدها</h4></th>
                        </tr>

                        <tr>
                            <td colspan=1 class="alert alert-info"><h5>رقم</h5></td>
                            <td colspan=2 class="alert alert-info"><h5>البيان</h5></td>
                            <td colspan=1 class="alert alert-info"><h5>نعم</h5></td>
                            <td colspan=1 class="alert alert-info"><h5>لا</h5></td>
                            <td colspan=1 class="alert alert-info"><h5>غير متأكد</h5></td>
                            <td colspan=1 class="alert alert-info"><h5>تقدير الذكور</h5></td>
                            <td colspan=1 class="alert alert-info"><h5>تقدير الاناث</h5></td>


                        </tr>
                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>3.1</h5></td>

                            <td colspan=2 class="alert alert-success"><h5>أطفال منفصلين عن ذويهم من كلا من الوالدين أو مقدمي الرعاية المعتادة ولكن ليس بالضرورة من الأسرة الموسعة</h5></td>
                            <td colspan=1 class="alert alert-warning" ><h4 style="color:red">@ViewBag.GetPer_Question3_1Yes%</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question3_1No%</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question3_1Dontknow%</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetSUmMale_Question3_1</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetSUmFemal_Question3_1</h4></td>


                        </tr>

                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>3.2</h5></td>

                            <td colspan=2 class="alert alert-success"><h5>أطفال منفصلين عن كلا ذويهم أو مقدمي الرعاية الاعتياديين وهم إما لوحدهم أو دون مقدم رعاية ملائم</h5></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question3_2Yes%</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question3_2No%</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question3_2Dontknow%</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetSUmMale_Question3_2</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetSUmFemal_Question3_2</h4></td>


                        </tr>

                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>3.3</h5></td>
                            <td colspan=2 class="alert alert-success"><h5>طفل يعيل أسرته</h5></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question3_3Yes%</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question3_3No%</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question3_3Dontknow%</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetSUmMale_Question3_3</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetSUmFemal_Question3_3</h4></td>


                        </tr>

                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>3.4</h5></td>
                            <td colspan=2 class="alert alert-success"><h5>أطفال يعانون من إصابات جسدية ويحتاجون إلى مساعدة </h5></td>

                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question3_4Yes%</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question3_4No%</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question3_4Dontknow%</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetSUmMale_Question3_4</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetSUmFemal_Question3_4</h4></td>

                        </tr>

                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>3.5</h5></td>
                            <td colspan=2 class="alert alert-success"><h5>بالغين يعانون من إصابات جسدية ويحتاجون إلى مساعدة </h5></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question3_5Yes%</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question3_5No%</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question3_5Dontknow%</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetSUmMale_Question3_5</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetSUmFemal_Question3_5</h4></td>


                        </tr>

                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>3.6</h5></td>
                            <td colspan=2 class="alert alert-success"><h5>أطفال تضرروا نتيجة العنف الأسري أو المجتمعي</h5></td>

                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question3_6Yes%</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question3_6No%</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question3_6Dontknow%</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetSUmMale_Question3_6</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetSUmFemal_Question3_6</h4></td>


                        </tr>


                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>3.7</h5></td>
                            <td colspan=2 class="alert alert-success"><h5>أشخاص بالغين تضرروا نتيجة العنف الأسري أو المجتمعي</h5></td>

                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question3_7Yes%</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question3_7No%</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question3_7Dontknow%</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetSUmMale_Question3_7</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetSUmFemal_Question3_7</h4></td>



                        </tr>

                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>3.8</h5></td>
                            <td colspan=2 class="alert alert-success"><h5> أطفال مصابين بالكرب الشديد</h5></td>

                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question3_8Yes%</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question3_8No%</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question3_8Dontknow%</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetSUmMale_Question3_8</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetSUmFemal_Question3_8</h4></td>


                        </tr>

                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>3.9</h5></td>
                            <td colspan=2 class="alert alert-success"><h5> بالغين مصابين بالكرب الشديد</h5></td>

                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question3_9Yes%</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question3_9No%</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question3_9Dontknow%</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetSUmMale_Question3_9</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetSUmFemal_Question3_9</h4></td>


                        </tr>

                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>3.10</h5></td>
                            <td colspan=2 class="alert alert-success"><h5>الأطفال المشتركين في أشكال الاستغلال لعمالة الأطفال أو التسول</h5></td>

                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question3_10Yes%</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question3_10No%</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question3_10Dontknow%</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetSUmMale_Question3_10</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetSUmFemal_Question3_10</h4></td>


                        </tr>

                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>3.11</h5></td>
                            <td colspan=2 class="alert alert-success"><h5>أطفال من ذوي إعاقة بحاجة لمساعدة خاصة</h5></td>

                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question3_11Yes%</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question3_11No%</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question3_11Dontknow%</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetSUmMale_Question3_11</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetSUmFemal_Question3_11</h4></td>


                        </tr>

                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>3.12</h5></td>
                            <td colspan=2 class="alert alert-success"><h5> بالغين من ذوي إعاقة بحاجة لمساعدة خاصة</h5></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question3_12Yes%</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question3_12No%</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question3_12Dontknow%</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetSUmMale_Question3_12</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetSUmFemal_Question3_12</h4></td>



                        </tr>

                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>3.13</h5></td>
                            <td colspan=2 class="alert alert-success"><h5>حوادث عنف منزلي</h5></td>

                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question3_13Yes%</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question3_13No%</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question3_13Dontknow%</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetSUmMale_Question3_13</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetSUmFemal_Question3_13</h4></td>


                        </tr>


                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>3.14</h5></td>
                            <td colspan=2 class="alert alert-success"><h5>نساء غير مصحوبات (غير متزوجة/مطلقة/منفصلة) </h5></td>

                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question3_14Yes%</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question3_14No%</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question3_14Dontknow%</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetSUmMale_Question3_14</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetSUmFemal_Question3_14</h4></td>


                        </tr>

                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>3.15</h5></td>

                            <td colspan=2 class="alert alert-success"><h5>نساء أرامل نتيجة لحالة الطواريء </h5></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question3_15Yes%</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question3_15No%</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question3_15Dontknow%</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetSUmMale_Question3_15</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetSUmFemal_Question3_15</h4></td>



                        </tr>

                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>3.16</h5></td>

                            <td colspan=2 class="alert alert-success"><h5>أشخاص يعانون من أمراض مزمنة/حالات صحة نفسية من دون علاج</h5></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question3_16Yes%</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question3_16No%</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question3_16Dontknow%</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetSUmMale_Question3_16</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetSUmFemal_Question3_16</h4></td>


                        </tr>

                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>3.17</h5></td>
                            <td colspan=2 class="alert alert-success"><h5>كبار السن الذين يحتاجون إلى المساعدة </h5></td>

                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question3_17Yes%</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question3_17No%</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question3_17Dontknow%</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetSUmMale_Question3_17</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetSUmFemal_Question3_17</h4></td>



                        </tr>

                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>3.18</h5></td>
                            <td colspan=2 class="alert alert-success"><h5>أشخاص متأثرين يحتاجون إلى المساعدة القانونية  </h5></td>

                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question3_18Yes%</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question3_18No%</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question3_18Dontknow%</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetSUmMale_Question3_18</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetSUmFemal_Question3_18</h4></td>


                        </tr>




                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>3.19</h5></td>
                            <td colspan=2 class="alert alert-success"><h5>نساء حوامل وأمهات مرضعات بحاجة لبرامج تغذية علاجية تكميلية  </h5></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question3_19Yes%</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question3_19No%</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question3_19Dontknow%</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red"></h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetSUmFemal_Question3_19</h4></td>



                        </tr>
                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>3.20</h5></td>
                            <td colspan=2 class="alert alert-success"><h5>حوادث عنف جنسي </h5></td>

                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question3_20Yes%</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question3_20No%</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question3_20Dontknow%</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red"></h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red"></h4></td>

                           


                        </tr>
                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>3.20</h5></td>

                            <td colspan=2 class="alert alert-success"><h5>اهتمامات حماية أخرى</h5></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question3_21Yes%</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question3_21No%</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question3_21Dontknow%</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetSUmMale_Question3_21</h4></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetSUmFemal_Question3_21</h4></td>



                        </tr>


                        <tr>
                            <th colspan=8><h4 style="color:cornflowerblue"> 4. من يقدم المساعدة والدعم للناس المحتاجين</h4></th>
                        </tr>
                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>4.1</h5></td>

                            <td colspan=2 class="alert alert-success"><h5>وزارة الشؤون الاجتماعية</h5></td>
                            <td colspan=1 class="alert alert-warning"><h4  style="color:red"> @ViewBag.GetPer_Question4_1_1% </h4></td>
                            <td colspan=1 class="alert alert-error"><h5>4.6</h5></td>
                             <td colspan=2 class="alert alert-success"><h5>شخصيات دينية</h5></td>
                            <td colspan=1 class="alert alert-warning"><h4  style="color:red"> @ViewBag.GetPer_Question4_1_6%</h4></td>


                        </tr>

                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>4.2</h5></td>

                            <td colspan=2 class="alert alert-success"><h5>الشرطة</h5></td>
                            <td colspan=1 class="alert alert-warning"><h4  style="color:red">@ViewBag.GetPer_Question4_1_2% </h4></td>
                            <td colspan=1 class="alert alert-error"><h5>4.7</h5></td>
                            <td colspan=2 class="alert alert-success"><h5>المنظمات غير الحكومية الدولية</h5></td>
                            <td colspan=1 class="alert alert-warning"><h4  style="color:red">@ViewBag.GetPer_Question4_1_7% </h4></td>


                        </tr>

                         <tr>
                            <td colspan=1 class="alert alert-error"><h5>4.3</h5></td>

                            <td colspan=2 class="alert alert-success"><h5>المنظمات غير الحكومية المحلية</h5></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red"> @ViewBag.GetPer_Question4_1_3% </h4></td>
                            <td colspan=1 class="alert alert-error"><h5>4.8</h5></td>
                            <td colspan=2 class="alert alert-success"><h5>لا أحد</h5></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question4_1_8% </h4></td>


                        </tr>

                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>4.4</h5></td>

                            <td colspan=2 class="alert alert-success"><h5>أعضاء المجتمع</h5></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red"> @ViewBag.GetPer_Question4_1_4%</h4></td>
                            <td colspan=1 class="alert alert-error"><h5>4.9</h5></td>
                            <td colspan=2 class="alert alert-success"><h5>غير ذلك</h5></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red"> @ViewBag.GetPer_Question4_1_9%</h4></td>


                        </tr>

                        <tr>
                            <td colspan=1 class="alert alert-error"><h5>4.5</h5></td>

                            <td colspan=2 class="alert alert-success"><h5>القادة المجتمعيين</h5></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red">@ViewBag.GetPer_Question4_1_5% </h4></td>
                            <td colspan=1 class="alert alert-error"><h5>4.10</h5></td>
                            <td colspan=2 class="alert alert-success"><h5>لا أعرف</h5></td>
                            <td colspan=1 class="alert alert-warning"><h4 style="color:red"> @ViewBag.GetPer_Question4_1_10%</h4></td>


                        </tr>
</tbody>
                </table>
                </div>


            </div>
    </div>
    </div>


